@import "tailwindcss";

@font-face {
  font-family: "Manga";
  src: url("/fonts/Manga.ttf");
}

@font-face {
  font-family: "Neue Haas Light";
  font-weight: 400;
  src: url("/fonts/NeueHaasDisplayLight.ttf");
}

@font-face {
  font-family: "Manga Style";
  src: url("/fonts/MangaStyle.otf");
}

@theme {
  --font-manga: "Manga";
  --font-estilo: "Manga Style";
  --font-neueL: "Neue Haas Light";

  --breakpoint-galaxy: 480px;
}

@layer utilities {
  .font-manga {
    font-family: var(--font-manga);
  }
  .font-estilo {
    font-family: var(--font-estilo);
  }
  .font-neueL {
    font-family: var(--font-neueL);
  }

  .z-300 {
    z-index: 300;
  }
}

html {
  background: black;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

html::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

html::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar {
  width: 0;
  height: 0;
  opacity: 0;
}

div::-webkit-scrollbar-track:active {
  background-color: transparent !important;
  opacity: 0;
}

div::-webkit-scrollbar-thumb:active {
  background-color: transparent !important;
}
